---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Who we are"
    image={{
      src: '~/assets/images/about.jpg',
      alt: 'Leap Group About Image',
    }}
  >
    <Fragment slot="title">
      We are, in simplest terms,

 <br />a holding company.
      <span class="text-primary dark:text-white highlight"> One that works.</span>
    </Fragment>

    <Fragment slot="subtitle">
      We’ve spent decades refining our human-first approach to marketing less, driven by a passion for understanding how people think and make decisions. 
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="A Dedicated Team Driving Your Brand's Success:"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '80' },
      { title: 'Clients', amount: '12' },
      { title: 'Awards', amount: '1k+' },
    ]}
  />

  <!-- Features3 Widget ************** -->

<Features3
  title="Our Expertise"
  subtitle="Leap Group provides a full range of services to propel your brand's success, with specialized agencies delivering tailored solutions across industries."
  columns={3}
  isBeforeContent={true}
  items={[
    {
      title: 'Brand Strategy',
      description:
        'Develop a strong, cohesive brand identity that resonates with your target audience and drives business growth.',
      icon: 'tabler:book',
    },
    {
      title: 'Creative Development',
      description:
        'Craft compelling narratives and visually stunning designs that capture attention and inspire action.',
      icon: 'tabler:brush',
    },
    {
      title: 'Digital Marketing',
      description:
        'Maximize your online presence with data-driven campaigns that boost engagement and drive conversions.',
      icon: 'tabler:rocket',
    },
  ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
  columns={3}
  isAfterContent={true}
  items={[
    {
      title: 'Media Planning & Buying',
      description:
        'Strategically place your brand in front of the right audience with expert media planning and buying services.',
      icon: 'tabler:chart-pie',
    },
    {
      title: 'Content Creation',
      description:
        'Produce high-quality content across all channels, including video, photography, copywriting, and more.',
      icon: 'tabler:camera',
    },
    {
      title: 'Web & App Development',
      description:
        'Design and develop user-friendly websites and applications that deliver seamless experiences across devices.',
      icon: 'tabler:device-laptop',
    },
    {
      title: 'SEO & SEM',
      description:
        'Enhance your visibility in search engines and drive targeted traffic with our SEO and SEM strategies.',
      icon: 'tabler:search',
    },
    {
      title: 'Analytics & Reporting',
      description:
        'Leverage advanced analytics to measure performance, optimize campaigns, and demonstrate ROI.',
      icon: 'tabler:chart-bar',
    },
    {
      title: 'Social Media Management',
      description:
        'Engage your audience and build brand loyalty with strategic social media management and content.',
      icon: 'tabler:brand-instagram',
    },
  ]}
  image={{
    src: '~/assets/images/chicago.jpg',
    alt: 'Marketing Team in Action',
  }}
  />


  <!-- Steps2 Widget ****************** -->

<Steps2
title="Our Values"
subtitle="At Leap Group, our values guide everything we do, ensuring we deliver meaningful and impactful results for our clients."
items={[
  {
    title: 'Customer-Centric Approach',
    description:
      'We prioritize our clients’ needs, delivering tailored solutions that drive their success and create lasting value.',
  },
  {
    title: 'Innovation and Continuous Improvement',
    description:
      'We embrace change and constantly seek to innovate, ensuring our strategies and solutions stay ahead of the curve.',
  },
  {
    title: 'Integrity and Ethical Practices',
    description:
      'We conduct business with the highest level of integrity, upholding ethical standards in all our interactions.',
  },
]}
/>

<!-- Steps2 Widget ****************** -->

<Steps2
  title="Our Achievements"
  subtitle="Leap Group's commitment to excellence has earned us recognition and success across the industry."
  isReversed={true}
  callToAction={{
    text: 'See more',
    href: '/',
  }}
  items={[
    {
      title: 'Global Reach',
      description: 'Our network of agencies serves clients worldwide, delivering impactful solutions across diverse markets.',
      icon: 'tabler:globe',
    },
    {
      title: 'Client Satisfaction and Positive Feedback',
      description:
        'We take pride in the positive feedback and strong relationships we build with our clients, reflecting our dedication to their success.',
      icon: 'tabler:message-star',
    },
    {
      title: 'Industry Awards and Recognition',
      description:
        'Our work has been recognized with numerous awards, highlighting our expertise and leadership in the marketing industry.',
      icon: 'tabler:award',
    },
  ]}
  />


  <!-- Features2 Widget ************** -->

  <Features2
  title="Our Locations"
  tagline="Find Us"
  columns={4}
  items={[
    {
      title: 'Louisville',
      description: '2500 Technology Dr, Louisville, KY 40299',
      contact: '(502) 212-1390',
    },
    {
      title: 'Cincinnati',
      description: '214 E 8th St. Floor 2, Cincinnati, OH 45202',
      contact: '(513) 723-0290',
    },
    {
      title: 'Indianapolis',
      description: '310 N. Alabama St, Suite 350, Indianapolis, IN 46204',
      contact: '(317) 500-4928',
    },
    {
      title: 'Chicago',
      description: '110 North Wacker Drive, Chicago, IL 60606',
      contact: '(317) 500-4928',
    },
  ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
  title="Need Assistance?"
  tagline="Contact Us"
  columns={2}
  items={[
    {
      title: 'Call Us',
      description:
        'Reach out to our support team directly for quick and personalized assistance. We’re here to help you succeed.',
      icon: 'tabler:phone-call',
    },
    {
      title: 'Email Us',
      description:
        'Prefer to write? Send us an email with your queries, and we’ll get back to you with the solutions you need.',
      icon: 'tabler:mail',
    },
  ]}
  />

</Layout>
