---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Work',
};
---

<Layout metadata={metadata}>
  

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Our Work"
    actions={[
      { variant: 'primary', text: 'View Case Studies ', href: '#case-studies' },
      { text: 'Download PDF', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/shuretape.jpg',
      alt: 'Shuretape Case Study',
    }}
  >
    <Fragment slot="title">
      Where Insight Fuels Innovation
    </Fragment>

    <Fragment slot="subtitle">
      At Leap Group, we transform deep insights into groundbreaking strategies that propel your brand forward, ensuring every solution we create is fueled by innovation and tailored to your unique needs.
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <!-- UPull & Pay Case Study **************** -->

  <Content
    isReversed
    items={[
        {
          title: 'Increased Customer Engagement',
          description:
            'Through targeted research, we identified key motivators for U-Pull & Pay’s audience, leading to a more engaging and customer-centric experience.',
        },
        {
          title: 'Optimized Messaging Strategy',
          description:
            'Our insights helped refine U-Pull & Pay’s messaging, ensuring it resonated with their target audience and clearly communicated their unique value proposition.',
        },
        {
          title: 'Improved Conversion Rates',
          description:
            'By aligning the customer journey with the insights we gathered, U-Pull & Pay saw a significant boost in conversion rates, turning more leads into loyal customers.',
        },
      ]}  
        image={{
        src: '~/assets/images/upull-pay.jpg',
        alt: 'U-Pull & Pay Case Study',
        }}
        callToAction={{
            target: '_blank',
            text: 'View the case study',
            icon: 'tabler:chevron-right',
            href: '#',
        }}
    >
    <Fragment slot="content">
      <h2 class="text-2xl  font-light tracking-tight dark:text-white sm:ext-3xl mb-6">  U-Pull & Pay </h2>
      <hr class="mb-6 w-12 border-primary border-4 dark:divide-black">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"> How we used research <br class="hidden md:inline" /> to rebuild the hotrod </h3>
    
    
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50/5 dark:bg-black dark:bg-opacity-20"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

<Content
isAfterContent
items={[
    {
      title: 'Deep Customer Understanding',
      description:
        'By conducting in-depth research, we uncovered what truly drives Kubota’s customers, allowing us to tailor strategies that align with their needs and values.',
    },
    {
      title: 'Enhanced Brand Perception',
      description:
        'Our insights led to a refreshed brand narrative for Kubota, strengthening its connection with customers and elevating brand perception in the market.',
    },
    {
      title: 'Strategic Market Positioning',
      description:
        'Using competitive analysis, we helped Kubota identify market opportunities and strategically position their brand to stand out from competitors.',
    },
  ]}
  
image={{
  src: '~/assets/images/kubota.jpg',
  alt: 'Kubota Case Study',
}}
callToAction={{
    target: '_blank',
    text: 'View the case study',
    icon: 'tabler:chevron-right',
    href: '#',
}}
>
<Fragment slot="content">
  <h2 class="text-2xl  font-light tracking-tight dark:text-white sm:ext-3xl mb-6">Kubota</h2>
  <hr class="mb-6 w-12 border-primary border-4 dark:divide-black">
  
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">How we used research to cultivate<br class="hidden md:inline" /> deeper customer connections
  </h3>
   
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-green-50/5 dark:bg-black dark:bg-opacity-20"></div>
</Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
isReversed
isAfterContent
items={[
    {
      title: 'Unified Brand Identity',
      description:
        'Through comprehensive research, we helped Premier Health consolidate its brand across multiple locations, ensuring a consistent and cohesive identity that resonates with patients.',
    },
    {
      title: 'Improved Patient Engagement',
      description:
        'Our insights revealed key touchpoints in the patient journey, enabling Premier Health to enhance engagement and provide a more personalized healthcare experience.',
    },
    {
      title: 'Strategic Communication Strategy',
      description:
        'We developed a communication strategy grounded in research that effectively conveyed Premier Health’s commitment to high-quality care, strengthening trust and loyalty among patients.',
    },
  ]}  
image={{
  src: '~/assets/images/premier-health.jpg',
  alt: 'Premier Health',
}}
callToAction={{
    target: '_blank',
    text: 'View the case study',
    icon: 'tabler:chevron-right',
    href: '#',
}}
>
<Fragment slot="content">
  <h2 class="text-2xl  font-light tracking-tight dark:text-white sm:ext-3xl mb-6">  Premier Health</h2>
  <hr class="mb-6 w-12 border-primary border-4 dark:divide-black">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">How we used research to unify<br class="hidden md:inline" /> a brand and elevate patient care</h3>

</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-green-50/5 dark:bg-black dark:bg-opacity-20"></div>
</Fragment>
</Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
  title="Customized Partnership Plans"
  prices={[
    {
      title: 'Free Consultation',
      subtitle: 'Start with a complimentary consultation to assess your needs and explore tailored solutions.',
      price: '0',
      period: '/ Month',
      callToAction: {
        target: '_blank',
        text: 'Schedule Your Free Consultation',
        href: '#',
      },
    },
    {
      title: 'Standard Retainer',
      subtitle: 'Ongoing support and strategic guidance for growing brands.',
      price: 5+'k',
      period: '/ Month',
      callToAction: {
        target: '_blank',
        text: 'Learn More',
        href: '#',
      },
      hasRibbon: true,
      ribbonTitle: 'popular',
    },
    {
      title: 'Enterprise Partnership',
      subtitle: 'Comprehensive solutions for large-scale projects and complex needs.',
      price: 15+'k',
      period: '/ Month',
      callToAction: {
        target: '_blank',
        text: 'Explore Enterprise Solutions',
        href: '#',
      },
    },
  ]}
/>

  <!-- FAQs Widget ******************* -->

  <!-- FAQs Widget ******************* -->

<FAQs
title="Frequently Asked Questions"
items={[
  {
    title: 'What services does Leap Group offer?',
    description:
      'Leap Group offers a comprehensive range of services including brand strategy, creative development, digital marketing, media planning, content creation, and technical support. We tailor our solutions to meet the unique needs of each client.',
    icon: 'tabler:chevrons-right',
  },
  {
    title: 'How does Leap Group approach new projects?',
    description: `We begin with a deep understanding of your brand and objectives. From there, our specialized teams collaborate to develop and execute a strategy that delivers measurable results, ensuring that every project aligns with your business goals.`,
    icon: 'tabler:chevrons-right',
  },
  {
    title: 'Can Leap Group support large-scale, complex projects?',
    description:
      'Absolutely. Our Enterprise Partnership services are designed to handle large-scale projects and complex needs, providing comprehensive solutions that drive success at every level.',
    icon: 'tabler:chevrons-right',
  },
  {
    title: 'Is ongoing support available after a project is completed?',
    description: `Yes, Leap Group offers ongoing support and maintenance to ensure that your brand continues to thrive. Our team is always here to assist you with any updates, enhancements, or questions that arise post-launch.`,
    icon: 'tabler:chevrons-right',
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-green-50/50 dark:bg-transparent"></div>
</Fragment>
</FAQs>


  <!-- Steps2 Widget ****************** -->

<Steps2
title="Get in Touch with Us"
subtitle="Have questions or need assistance? Reach out to us through any of the channels below, and our team will be happy to help!"
callToAction={{
  text: 'Contact Us',
  href: '/contact',
}}
items={[
  {
    title: 'Email Us',
    description: 'support@leapgroupnetwork.com',
    icon: 'tabler:mail',
  },
  {
    title: 'Call Us',
    description: '+1 (502) 212-1390',
    icon: 'tabler:phone-call',
  },
  {
    title: 'Follow Us',
    description: '@LeapGroupNetwork',
    icon: 'tabler:brand-linkedin',
  },
]}
/>


  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
  title="Explore our latest insights on logic + magic"
  information={`Dive into our insights on the logic + magic blog. 
                Each article uncovers key strategies, creative breakthroughs, 
                and data-driven insights that empower brands to excel in an ever-changing market. 
                Stay informed and inspired as we explore the intersection of logic and creativity in marketing.`}
/>
</Layout>
