---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>

<svg width="136" height="41" viewBox="0 0 136 41" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_1875_7300)">
  <path d="M22.0743 23.281C23.3201 23.281 24.3133 22.7588 24.8628 22.0352L27.45 23.5267C26.2793 25.2196 24.4123 26.1889 22.0231 26.1889C17.842 26.1889 15.2037 23.3253 15.2037 19.6187C15.2037 15.912 17.8659 13.0484 21.774 13.0484C25.4567 13.0484 28.0712 15.9598 28.0712 19.6187C28.0712 20.0897 28.02 20.5129 27.9483 20.9361H18.5656C19.0127 22.5779 20.3814 23.2741 22.0743 23.2741V23.281ZM24.8628 18.4514C24.4635 16.6595 23.1221 15.9359 21.7774 15.9359C20.0606 15.9359 18.8899 16.8575 18.5178 18.4514H24.8628ZM9.42188 9.32812L10.3264 13.97V25.8476H13.5381V9.32812H9.42188ZM39.0478 25.8476H42.2595V13.4034H39.0478V14.871C38.1535 13.7515 36.8088 13.0553 34.9896 13.0553C31.6788 13.0553 28.9415 15.9154 28.9415 19.6255C28.9415 23.3356 31.6788 26.1958 34.9896 26.1958C35.7268 26.1958 36.3821 26.0797 36.9623 25.8681C37.5835 25.6428 37.9795 25.0319 37.9795 24.3732V22.2365C37.3685 22.8065 36.5391 23.1342 35.5834 23.1342C33.6175 23.1342 32.1498 21.7143 32.1498 19.6255C32.1498 17.5367 33.6175 16.1168 35.5834 16.1168C37.5494 16.1168 39.0443 17.5367 39.0443 19.6255V25.8476H39.0478ZM47.758 19.6255C47.758 17.5333 49.2257 16.1168 51.1916 16.1168C53.1576 16.1168 54.6525 17.5367 54.6525 19.6255C54.6525 21.7143 53.1849 23.1342 51.1916 23.1342C50.253 23.1342 49.4305 22.81 48.8264 22.2434V24.3868C48.8264 25.049 49.2257 25.6633 49.8503 25.8852C50.4203 26.0865 51.0654 26.1958 51.7889 26.1958C55.1236 26.1958 57.8609 23.3322 57.8609 19.6255C57.8609 15.9189 55.1236 13.0553 51.7889 13.0553C49.9732 13.0553 48.6523 13.7276 47.758 14.871V13.4034H44.5463V28.8443H47.758V19.6255Z" fill="#01AD4B"/>
  <path d="M83.9459 13.1537V16.7374C82.2769 16.5395 80.1642 17.2835 80.1642 19.898V25.8471H76.9524V13.4028H80.1642V15.5429C80.8127 13.8499 82.3793 13.1537 83.9459 13.1537ZM84.0722 19.6249C84.0722 15.9149 86.9836 13.0547 90.6425 13.0547C94.3013 13.0547 97.2366 15.9149 97.2366 19.6249C97.2366 23.335 94.3013 26.1952 90.6425 26.1952C86.9836 26.1952 84.0722 23.3316 84.0722 19.6249ZM94.0283 19.6249C94.0283 17.6078 92.5606 16.1913 90.6425 16.1913C88.7243 16.1913 87.284 17.6112 87.284 19.6249C87.284 21.6387 88.7516 23.0585 90.6425 23.0585C92.5333 23.0585 94.0283 21.6387 94.0283 19.6249ZM110.305 13.4028V25.8471H107.094V24.4545C106.346 25.574 105.053 26.1952 103.387 26.1952C100.749 26.1952 98.6838 24.3521 98.6838 21.0448V13.4028H101.896V20.6455C101.896 22.3384 102.916 23.2087 104.36 23.2087C105.926 23.2087 107.097 22.2872 107.097 20.1233V13.4028H110.309H110.305ZM115.835 19.6249C115.835 17.5327 117.302 16.1163 119.268 16.1163C121.234 16.1163 122.729 17.5361 122.729 19.6249C122.729 21.7138 121.262 23.1336 119.268 23.1336C118.33 23.1336 117.507 22.8094 116.903 22.2428V24.3862C116.903 25.0484 117.302 25.6628 117.927 25.8846C118.497 26.086 119.142 26.1952 119.866 26.1952C123.2 26.1952 125.938 23.3316 125.938 19.6249C125.938 15.9183 123.2 13.0547 119.866 13.0547C118.05 13.0547 116.729 13.7271 115.835 14.8705V13.4028H112.623V28.8438H115.835V19.6249ZM71.529 25.4136H71.5222C71.4539 27.2737 70.2252 28.3113 68.2695 28.3113C66.3137 28.3113 65.5321 27.54 65.0099 26.5706L62.2726 28.1373C63.3682 30.1544 65.5083 31.1749 68.1705 31.1749C71.4539 31.1749 74.6657 29.3319 74.6657 25.2532V13.4028H71.529V14.9456C70.6586 13.7749 69.3139 13.0547 67.5459 13.0547C64.0133 13.0547 61.3477 15.9422 61.3477 19.427C61.3477 22.9118 64.0099 25.7993 67.5459 25.7993C68.2592 25.7993 68.9043 25.6798 69.4743 25.4614C70.0818 25.2293 70.4709 24.6252 70.4709 23.9767V21.9459C69.8566 22.509 69.0169 22.8401 68.0442 22.8401C66.027 22.8401 64.5594 21.4202 64.5594 19.4304C64.5594 17.4405 66.027 16.0446 68.0442 16.0446C70.0614 16.0446 71.529 17.4644 71.529 19.4304V25.417V25.4136Z" fill="currentColor"/>
  </g>
  <defs>
  <clipPath id="clip0_1875_7300">
  <rect width="116.514" height="21.844" fill="white" transform="translate(9.42188 9.32812)"/>
  </clipPath>
  </defs>
  </svg>
  
  
    
</span>
